@import url(https://fonts.googleapis.com/css?family=Raleway:200,400,700);
body {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	background-color: #eee;
	color: #333;
}
h1, h2, h3, h4, h5 {
	font-weight: 400;
}
#root {
	
}